.section-1{
    width: 1440px;
    height: 200px;
    background-image: url(../../images/Bitmap.png);
    background-size: cover;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    align-items: center;
    /* identical to box height, or 100% */
    color: #ffff;
    letter-spacing: -2.5px;
    display: flex;
    align-items: center;
   &h1{
    margin-left: 165px;
   }
}